@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('http://themes.googleusercontent.com/font?kit=0ihfXUL2emPh0ROJezvraKCWcynf_cDxXwCLxiixG1c') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), local('Ubuntu-Regular'), url('http://themes.googleusercontent.com/font?kit=2Q-AW1e_taO6pHwMXcXW5w') format('truetype');
}


body
{
    background-color: #cccccc;
    font-family: Ubuntu,Arial,Helvetica,sans-serif;
}

.content
{
    text-align:left;
}

.bodywrap
{
    text-align: center;
    margin: auto;
    width: 960px;
    background-color: #ffffff;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 20px #888888; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #888888; /* Safari and Chrome */
    box-shadow: 0px 0px 20px #888888;
}

.padded   
{
    padding:20px;
    margin-top: 30px;
}

.hugebutton
{
    font-size: xx-large;
}
.question
{
    text-align:center;
    font-size: x-large;
}

.centered
{
    text-align:center;
}

.stackright
{
    float: right;
}

.login-container
{
    border-bottom-left-radius: 20px;
    border-top-right-radius:   20px;
    padding: 15px;
    background-color: #dddddd;
    -moz-box-shadow: 0px 0px 20px #dddddd; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #dddddd; /* Safari and Chrome */
    box-shadow: 0px 0px 20px #dddddd;
}

.register-container
{
    text-align:right;
    border:0;
}
.register-field
{
    border-bottom:1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.long
{
    width: 700px;
}

.short
{
    width: 40px;
}
/* slider root element */
.slider { 
	background:#eeeeee; 
	height:5px; 
	position:relative; 
	cursor:pointer;
	border:1px solid #333;
	width:600px;
	float:left; 
	clear:right;
	margin-top:5px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-box-shadow:inset 0 0 8px #000;
}

/* progress bar (enabled with progress: true) */
.progress {
	height:9px; 
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.handle { 
	background:#fff url(../../../img/gradient/h30.png) repeat-x 0 0; 
	height:10px;
	width:10px;
	top:-5px;
	position:absolute; 
	display:block; 
	margin-top:1px;
	border:1px solid #000;
	cursor:move;
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
	-moz-border-radius:14px;
	-webkit-border-radius:14px; 

}

/* the input field */
.range {
	display:none; 		
}

/* error fields */
.error {
	color:red;
}

.fixed-corner
{
    position: fixed;
    left:0;
    bottom:0;
}
